/**
* mathieuwelche.com Main Stylesheet
* written by: Mathieu Welche;
**/

body {
	background-color:#24c5e7;
	font-size: 110%;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
a {
	text-decoration:none;
}
.coming-soon {
	position: absolute;
	left:50%;
	top:50%;
	display:block;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.coming-soon img {
	width:100%;
	max-width:404px;
	display:block;
}
.coming-soon-footer {
	position: absolute;
	left:50%;
	top:90%;
	display:block;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.coming-soon-footer ul {
	display:inline-block;
	position:relative;
	left:50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.coming-soon-footer ul li {
	display:inline-block;
}
.coming-soon-footer ul li a {
	color:#fff;
	display:block;
	padding:.5rem;
	-webkit-transition:.5s;
	transition:.5s;
	font-size:1.2rem;
}
.coming-soon-footer ul li a:hover {
	text-decoration:none;
	color:rgba(255,255,255,.5);
	-webkit-transform:translate(0,-20%);
	-ms-transform:translate(0,-20%);
	transform:translate(0,-20%);
}




